body{
margin:0;
font-family:Segoe UI, sans-serif;
background:#f4f6f8;
}

.top-header{
display:flex;
align-items:center;
background:#0b6623;
color:white;
padding:15px;
}

.logo{
width:80px;
margin-right:15px;
}

.navbar ul{
list-style:none;
background:#003300;
padding:10px;
margin:0;
text-align:center;
}

.navbar ul li{
display:inline-block;
margin:10px;
}

.navbar ul li a{
color:white;
text-decoration:none;
font-weight:bold;
}

.hero{
background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
url('../images/hero.jpg');
color:white;
padding:80px;
text-align:center;
}

.cards{
display:flex;
justify-content:center;
gap:20px;
padding:30px;
}

.card{
background:white;
padding:20px;
width:250px;
border-radius:8px;
box-shadow:0 2px 8px rgba(0,0,0,.2);
}

.page-title{
text-align:center;
color:#0b6623;
margin:20px;
}

.class-list li{
background:white;
margin:5px;
padding:10px;
border-left:5px solid green;
}

footer{
background:#003300;
color:white;
text-align:center;
padding:10px;
                                }
